
.g-btn {
	color: white;
	cursor: pointer;
	border: 2px solid var(--color__yellow-sea);
	padding: 16px 32px;
	outline: none;
	font-size: 15px; 
	transition: color 0.2s, background-color 0.2s, border-color 0.2s, opacity 0.2s;
	text-align: center;
	font-weight: bold;
	border-radius: 40px;
	background-color: var(--color__yellow-sea);
	text-transform: uppercase;

	&:hover {
		color: var(--color__yellow-sea);
		background-color: transparent;
	}
}
